**/.vscode/
**/.idea/
**/.DS_Store/
**/*.dSYM/

**/tmp*
**/*tmp
**/*tmp1

**/temp*
**/*temp

**/*.o
**/*.a
**/minishell
**/a.out
**/a
**/b
**/c
**/a.*

**/diff
**/test
**/actual
**/expected
**/output
**/log
**/gen_*.txt

**/aaa
**/bbb
**/ccc

**/act
**/exp
**/hello
**/aliasfile
