**/.vscode/
**/.idea/
**/.DS_Store/

**/tmp*
**/*tmp

**/*.o
**/*.a
**/minishell
**/a.out
**/a
**/a.*

**/diff
**/test
**/actual
**/expected
**/output
**/sample
**/log
**/gen_*.txt

**/aaa
**/bbb
**/ccc

**/act
**/exp
**/hello